@import "/home/luke/.cache/wal/colors-waybar.css";

* {
    font-family: "Fira Mono";
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button {
    padding: 0 4px;
    color: @foreground;
}

#workspaces button.focused {
    color: @color6;
    font-weight: bold;
}

#mpd, #pulseaudio, #disk, #network, #memory, #clock {
    margin: 0 10px;
    color: @foreground;
}

#custom-pulseaudio-icon, #custom-disk-icon, #custom-network-icon, #custom-memory-icon, #custom-clock-icon {
    color: @color6;
    font-size: 20px;
}

#custom-mpd-icon {
    color: @color3;
    font-size: 20px;
}
