@import "/home/luke/.cache/wal/colors-waybar.css";

* {
    font-family: "Fira Mono";
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background-color: @color0;
    color: @color7;
}

#workspaces button {
    margin: 0 5px;
    color: @color7;
}

#workspaces button.focused {
    color: @color1;
}

/* modules */
#mpd, #battery, #pulseaudio, #network, #memory, #disk, #clock {
    color: @color7;
}
